*{
    box-sizing: border-box;
}
main {
    width: 1366px;
    height: auto;
    background-color: #335072;
    margin: 0 auto;
}

header {
    width: 1366px;
    height: 320px;
    background-color: #1C3644;
    text-align: center;
}

nav{
    width: 1366px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background-color: #1C457D;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    transition: 1s;
    transform: scale(1.2);
}

nav a:hover {
    background-color: #9A9AC6;
}

h1{
    font-size: 38px;
    font-family: "Kanit", sans-serif;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-family: "Kanit", sans-serif;
}

p {
    font-size: 14px;
    font-family: "Dosis", sans-serif;
}

ul {
    font-size: 18px;
    font-family: "Dosis", sans-serif;
}

section{
    width: 1366px;
    height: auto;
    background-color: #D7E9F5;
    margin: 0 auto;
    overflow: hidden;
}

.titulo{
    background-color:#84B7BC;
    margin-left: 0 auto;
}

.izquierda {
    width: 550px;
    height: auto;
    background-color: #9A9AC6;
    float: left;
    margin-left: 38px;
}

.derecha {
    width: 700px;
    height: auto;
    background-color: #9A9AC6;
    float: left;
    margin-left: 38px;
}

.textoiz {
    width: 500px;
    height: 900px;
    background-color: #CCB7DA;
    padding: 20px;
    float: left;
    font-size: 14px;
    font-family: "Dosis", sans-serif;
}

.textode {
    width: 600px;
    height: auto;
    background-color: #CCB7DA;;
    padding: 20px;
    float: left;
    font-size: 14px;
    font-family: "Dosis", sans-serif;
    margin-left: 50px;
}

.imagen {
    width: 600px;
    height: 350px;
    border-top: 2px;
    border-bottom: 2px;
    float: left;
    background-color: #C3C7D8;
    text-align: center;
    margin-left: 50px;
}



.texto {
    width: 1250px;
    height: 200px;
    font-size: 16px;
    font-family: "Dosis", sans-serif;
    background-color: #B6DCE9;
}


.inicio-btn{
    width: 200px;
    padding: 10px 15px;
    background-color: #1C457D;
    color: aliceblue;
    font-family: "Dosis", sans-serif;
    border-radius: 10px;
    position: fixed;
    right: -90px;
    bottom: 50px;
    transition: .8s;
}

.inicio-btn:hover{
    right: -10px;
}
.inicio-btn a{
    color: white;
}
.cuadro{
        width: 100px;
        height: 100px;
        background-color: #1C457D;
        transform: scale(1);
        border-radius: 50%;
        overflow: hidden;
        transition: .7s
}


footer {
    width: 1366px;
    height: 320px;
    background-color: #B6DCE9;
}